* {
	box-sizing: border-box;
}

body {
	background-color: #ede9e0;
	margin: 0;
	padding: 0;
	font-family:  sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	color: #333333;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
	background: url('../img/dog.png') no-repeat 42px 0px ;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.container::after {
	content: "";
	display: table;
	clear: both;
}

.container2 {
	width: 100%;
	padding-left: 60px;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

.logo img {
	padding-left: 10px;
	padding-top: 10px;}

header {
	display: inline-flex;
  	flex-wrap: wrap;
	justify-content: flex-end;
}

.pages-header {
	padding-top: 8px;
}

.container-menu {
	display: inline-block;
}

.phone-header {
	width: 150px;
	font-family: "Roboto", sans-serif;
  	text-decoration: none;
  	color: #510fad;
}

.header-telephone {
	display: inline-block;
	padding-top: 15px;
}

.main-nav {
	display: inline-block;
  	font-family: "Roboto", sans-serif;
  	text-decoration: none;
  	padding-left: 200px;
  	width: 700px;
}

.main-nav__list {
	margin: 5;
	padding: 0;
	list-style: none;
	text-align: right;
	display: inline-flex;
  	flex-wrap: wrap;
}

.main-nav__item a {
	display: inline-block;
	padding: 0px 10px;
	color: inherit;
	font-size: 16;
	text-decoration: none;
	color: #202020;
}

.promo {
	min-height: 550px;
}

.promo-title {
	font-family: "Fira Sans", sans-serif;
	font-size: 48px;
	color: #202020;
	line-height: normal; 
}

.promo-info {
	padding-left: 315px;
	padding-top: 110px;
	padding-right: 100px;
}

.promo-slogan {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #727173;
	border-left: 2px solid #510fad;
	padding-left: 10px;
	text-transform: uppercase;
}

.section1 {
	background-color: #510fad;
	position: relative;
}

.section1::before {
	content: "";
	display: block;
	background-image: url(../img/backround_shape.png); 
	background-repeat: no-repeat;
	width: 100%;
	height: 80px;
	position: absolute;
	top: -80px;
	}

.section1::after {
	content: "";
	display: block;
	background-image: url(../img/backround_shape.png); 
	background-repeat: no-repeat;
	background-position: 0 100%;
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: -78px;
}

.section1 .row {
	display: inline-block;
}
.about-info {
	padding: 110px 100px 0px 315px;
	padding-top: 50px;

}

.about-title {
	font-family: "Fira Sans", sans-serif;
	font-size: 36px;
	color: #ffffff;
}

.about-text {
	color: #b8adc8;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 30px;
}

.list-about {
	color: #ffffff;
	font-family: inherit;
	float: right;
	line-height: 40px;
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 20px;
	display: inline-block;
}

.about-photo__img {
	border-radius: 15px;
	width: 460px;
	height: 275px;\
	z-index: 10;
	box-shadow: -22px -10px 125px -9px;
	margin-bottom: 118px;
}

.about-photo {
	margin-top: 30px;
	display: block;
	padding-left: 40px;
	display: inline-block;
}

.video-left {
	display: inline-block;
}

.about-video__link {
	color: #ffec00;
	vertical-align: middle;
	font-family: "Fira Sans", sans-serif;
	font-size: 16px;
	text-decoration: none;
	padding-bottom: 50px;
	margin-bottom: 30px;
	margin-left: 25px;
}

.about-video {
	display: inline-block;
	vertical-align: middle;
	padding-top: 10px;
}

.arrow-right {
	display: inline-block; 
}

.arrow-next {
	
	display: inline-block; 
}

.arrow_next__yellow_png {
	background-position: 0 -198px; 
	width: 20px; 
	height: 14px;
	margin-left: 15px;
	vertical-align: middle;
	display: inline-block; 
	background-image: url(../img/sprite/sprite.png);  
	background-repeat: no-repeat;
}

.types-title {
	font-family: "Fira Sans", sans-serif;
	font-size: 36px;
	color: #202020;
	text-align: center;
	margin-top: 200px;
}

.section2 .row {
	display: inline-flex;
  	flex-wrap: wrap;
  	font-size: inherit;
  	margin-top: 50px;
}

.section2 .left .right {
	display: inline-block;
	height: 250px;
	width: 295px;
	vertical-align: top;
	overflow: hidden;
}

.article-left {
	margin-right: 10px;
	width: 455px;
}

.article-right {
	margin-left: 10px;
	width: 455px;
}

.section2 h3 {
	font-family: "Fira Sans", sans-serif;
	font-size: 24px;
	color: #202020;
	display: block;
	vertical-align: top;
	overflow: hidden;
}


.section2 .row img {
	border-radius: 100px;
	overflow: hidden;
	width: 140px;
	float: left;
	margin-right: 10px;
}

.dog-info {
	width: 290px;
	height: 170px;
	margin-left: 160px;
}

.dog-info__text {
	font-size: 16px;
	padding-top: 5px;
	color: #737274;
}

.dog-info__view {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	float: left;
	color: #510fad;
}

.see-more {
	display: inline-block;
}
.see-more__right {
	display: inline-flex; 
	
}

.see-more__left {
	display: inline-flex;
}

.arrow_next_png {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-position: 0 -170px; 
	margin-left: 15px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../img/sprite/sprite.png);
}

.section3 {
	margin-bottom: 175px;
}

.review-text {
	width: 460px;
	height: 300px;
	display: block;
}

.section3 h2 {
	font-family: "Fira Sans", sans-serif;
	font-size: 36px;
	margin-top: 140px;
	color: #202020;
	text-align: center;
}

.section3 .row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.quote_time {
	font-size: 16px;
	color: #737274;
	float: left;
	font-style: italic;
}

.quotes-img {
	display: inline-block;
}

.quotes-img__first {
	display: inline-flex; 
	vertical-align: middle;
	background-image: url(../img/sprite/sprite.png); 
	background-position: left center; 
	background-repeat: no-repeat;
	background-position: 0 0; 
	width: 81px; 
	height: 66px;
}

.owner-name {
	font-family: "Fira Sans", sans-serif;
	font-size: 24px;
	color: #202020;
	display: block;
	vertical-align: top;
	overflow: hidden;
	margin: 0;
}

.section3 cite {
	font-family: "Fira Sans", sans-serif;
	font-size: 24px;
	color: #202020;
	display: block;
	vertical-align: top;
	overflow: hidden;
	margin: 0;
}
.section3 span {
	font-family: "Roboto", sans-serif;
	font-style: italic;
	color: #737274;
	font-size: 16px;
	float: left;
}

.review-text__owner {
	margin: 0;
	color: #333333;
	padding-top: 10px;
	float: left;
}

.section3 .right {
	width: 50%;
	display: block;
	margin-left: 10px;
	margin-top: 45px;
}

.review-more {
	margin: 0;
	font-size: 16px;
	color: #737274;
	float: left;
	font-style: italic;
	margin-top: 20px;
	text-decoration: none;
	display: block;
}

.review-owner {
	border-radius: 15px;
	display: block;
	box-shadow: -9px -2px 80px -12px;
}

.reviews-photo__vk {
	color: #5717af;
	text-decoration: none;
}

.section4 {
	display: inline-flex;
 	flex-wrap: wrap;
	background-image: url(../img/backgroun_pattern.png);
	background-repeat: no-repeat;
	width: 1024px;
	margin-top: 210px;
	padding-top: 110px;
	margin: 0 auto;
	margin-bottom: 114px;	
}

.blog-title {
	color: #ffff;
	font-family: "Fira Sans", sans-serif;
	font-size: 36px;
	margin: 0;
	width: 455px;
	display: inline-block;
}

.blog-text {
	width: 430px;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-right: 50px;
	line-height: 35px;
}

.all-socials {
	display: inline-block;	
}

.vk-yellow, .fb-yellow, .inst-yellow {
	display: inline-block;	
}

.social_icon_vk_1_png {
	display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;	
		background-image: url(../img/sprite/sprite.png);
		background-repeat: no-repeat;
		vertical-align: middle;
		background-position: 0 -220px; 
		width: 26px; 
		height: 26px;
}

.social_icon_facebook_1_png {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;	
	background-image: url(../img/sprite/sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0 -288px; 
	width: 26px; 
	height: 26px;
}

.social_icon_instagram_1_png {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;	
	background-image: url(../img/sprite/sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0 -254px; 
	width: 26px; 
	height: 26px;
}

.blog-more {
	border: none;
}

.section4 .col-1 {
	color: #b8adc8;
	width: 430px;
	display: inline-block;
	margin: 0;
	margin-top: 35px;
}

.section4 .icon-vkontakte {
	width: 25px;
	height: 26px;
	display: inline-block;
	background-position: -2px 0;
}

.section4 .icon-facebook {
	width: 25px;
	height: 26px;
	display: inline-block;
	background-position: -2px 0;
}

.section4 .icon-instagram {
	width: 25px;
	height: 26px;
	display: inline-block;
	background-position: -2px 0;
}

.section4 .col-2 {
 margin-left: 45px;
 margin-right: 10px;
 margin-bottom: 100px;
 vertical-align: top;
 background-color: #fff;
 border-radius: 10px;
 width: 220px;
 height: 290px;
 box-shadow: -10px -5px 60px -12px;
 border: none;
 display: inline-block;
}

.section4 .col-2 img {
	border-radius: 10px 10px 0 0;
	width: 220px;
	border: none;
}

.blog-about {
	font-size: 16px;	
	color: #333333;
	line-height: 20px;
	margin-bottom: 0;
	margin-left: 15px;
	width: 193px;
}

.blog-article__first {
	text-decoration: none;
	color: #510fad; 
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

.read-left {
	display: inline-block;
}

.blog-arrow__first {
	display: inline-block;
}

.blog-read__first {
	margin-left: 15px;
}

.read-right {
	display: inline-block;
}
.arrow_next_png {
	display: inline-flex; 
	vertical-align: middle;
	background-image: url(../img/sprite/sprite.png); 
	background-repeat: no-repeat;
	background-position: 0 -176px; 
	width: 20px; 
	height: 14px;}
}

.section4 .col-3 {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	width: 220px;
	height: 290px;
	box-shadow: -10px -5px 60px -12px;
	vertical-align: top;
	border: none;
	margin-bottom: 100px;
	margin-left: 10px;
}

.section4 .col-3 img {
	border-radius: 10px 10px 0 0;
	border: none;
	width: 220px;
}

.blog-about__second {
	font-size: 16px;	
	color: #333333;
	line-height: 20px;
	margin-bottom: 0;
	margin-left: 15px;
	width: 193px;
}

.blog-article__second {
	text-decoration: none;
	color: #510fad; 
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	display: inline-block;
}

.read-left__second {
	display: inline-block;
}

.blog-arrow__second {
	display: inline-block;
}

.blog-read__second {
	margin-left: 15px;
}
.read-right__second {
	display: inline-block;
}


.section5 {
	margin: 0px 0 115px 0px;
}

.contacts-title {
	color: #202020;
	font-size: 36px;
	font-family: "Fira Sans", sans-serif;
}

.contacts-item {
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 0;
}

.section5 p {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-top: 0;
}

.section5 a {
	text-decoration: none;
	color: #000;
}

.section5 .row {
	display: inline-flex; 	
}

.section5 .row2 {
	display: flex;
}

.section5 .row .right {
	margin-left: 205px;
}

.section5 .row2 .right {
	margin-left: 245px;
}

hr {
	width: 940px;
}

.pages-footer {
	display: inline-flex;
  	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 60px;
	width: 985px;
}

.pages-footer .container {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

.footer-menu {
	width: 774px;
	margin: 0;
}

.footer-nav__list {
	list-style: none;
	display: inline-flex;
  	flex-wrap: wrap;
  	padding-left: 20px;
}

.footer-nav__item a {
	padding: 0.2em 25px 0 0 ;
	color: #737274;
	font-family: "Roboto",
	sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
}

.all_socials2 {
	display: inline-block;	
	width: 95px;
	margin-top: 15px;
	margin-left: 125px;
}

.vk-purple, .fb-purple, .inst-purple {
	display: inline-block;	
}

.social_icon_vk_png {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	background-image: url(../img/sprite/sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0 -108px; 
	width: 26px; 
	height: 26px;
}

.social_icon_facebook_png {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	background-image: url(../img/sprite/sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0 -142px; 
	width: 26px; 
	height: 26px;
}

.social_icon_instagram_png {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	background-image: url(../img/sprite/sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: 0 -74px; 
	width: 26px; 
	height: 26px;
}